[Unit]
Description=CC Financial GitOps Poll Timer (Prod)

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
RandomizedDelaySec=60s
AccuracySec=30s

[Install]
WantedBy=timers.target
