[Unit]
Description=CC Financial GitOps Poll Timer (Dev)

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
AccuracySec=30s

[Install]
WantedBy=timers.target
